<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>851226873498-2skdltd51s2kqurrftpltvvnhjjqev82.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.851226873498-2skdltd51s2kqurrftpltvvnhjjqev82</string>
	<key>API_KEY</key>
	<string>AIzaSyAbdnt6CbUPWs8hlPbip01EuJ_ovVvwSXU</string>
	<key>GCM_SENDER_ID</key>
	<string>851226873498</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.healthscitech.zotcare</string>
	<key>PROJECT_ID</key>
	<string>zotcare</string>
	<key>STORAGE_BUCKET</key>
	<string>zotcare.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:851226873498:ios:0904b13f90df8bd94b1923</string>
</dict>
</plist>